@model PortfolioCore.Entities.Project
@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<form method="post" class="p-4 border rounded shadow bg-light" style="max-width: 600px;">
    <div class="mb-3">
        <label class="form-label">Proje Adı</label>
        <input type="text" class="form-control border border-dark" asp-for="Title" />
    </div>

    <div class="mb-3">
        <label class="form-label">Açıklama</label>
        <input type="text" class="form-control border border-dark" asp-for="Description" />
    </div>

    <div class="mb-3">
        <label class="form-label">Görsel Yolu</label>
        <input type="text" class="form-control border border-dark" asp-for="ImageUrl" />
    </div>
    <button type="submit" class="btn btn-primary">Proje Oluştur</button>
</form>

