@model PortfolioCore.Entities.About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post" class="p-4 border rounded shadow bg-light" style="max-width: 600px;">
    <input type="hidden" asp-for="AboutId" />
    <div class="mb-3">
        <label class="form-label">Bölüm</label>
        <input type="text" class="form-control border border-dark" asp-for="Title1" />
    </div>

    <div class="mb-3">
        <label class="form-label">Neler Yaptım</label>
        <input type="text" class="form-control border border-dark" asp-for="Description1" />
    </div>

    <div class="mb-3">
        <label class="form-label">Konum</label>
        <input type="text" class="form-control border border-dark" asp-for="City" />
    </div>

    <div class="mb-3">
        <label class="form-label">Telefon</label>
        <input type="text" class="form-control border border-dark" asp-for="Phone" />
    </div>
    <div class="mb-3">
        <label class="form-label">Doğum Tarihim</label>
        <input type="text" class="form-control border border-dark" asp-for="Birthday" />
    </div>
    <button type="submit" class="btn btn-primary">Hakkımda Kısmını Oluştur</button>
</form>

